* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  background-color: #17c4a8;
  font-family: sans-serif;
}
.user_card,
.location,
.statistic,
.statistic_cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_card {
  background-color: white;
  max-width: 500px;
  margin: 5% auto;
  gap: 15px;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}
.location {
  gap: 10px;
  padding-top: 25px;
}
.location img {
  width: 1rem;
  height: 1rem;
}
.user_Photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
  padding: 10px;
}
.name {
  font-weight: lighter;
  font-size: 2rem;
}
.about {
  text-align: center;
  padding: 0 50px;
}
.follow {
  width: 150px;
  height: 50px;
  background-color: #66b4ff;
  color: white;
  border-radius: 10px;
  font-size: 1.3rem;
  margin: 30px 0;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.7);
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.follow:active {
  box-shadow: none;
  top: 3px;
}
.statistic {
  background-color: #1f354c;
  color: white;
  width: 100%;
}
.statistic_cell {
  width: 33.33%;
  gap: 15px;
  padding: 25px;
}
.statistic_cell:nth-last-child(n + 2) {
  border-right: 3px solid #284157;
}
.statistic_img {
  width: 50px;
  height: 50px;
}
.statistic_cell p:first-of-type {
  color: #98676f;
}
